<h1>Welcome to blogs page!</h1>

<% @blogs.reverse.each do |blog|  %>
  <p>
    <%= blog.title %> |
    <%= link_to "Read post", blog_path(blog) %> |
    <%= link_to "Delete post", blog_path(blog), method: :delete %>
  </p>
<% end %>

<p><%= link_to "Make new blog post", new_blog_path  %></p>
