<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">APEX Products</h1>
    <p class="lead text-muted">Darwinism aside, below are some projects and products I have had the great pleasure of participating in - I can proudly say that each one has profoundly impacted my personal and professional development.</p>
    <p>
      <%= link_to "Learn More About Me", about_path, class: "btn btn-primary my-2" %>
      <%= link_to "Read My Blogs", blogs_path, class: "btn btn-secondary my-2" %>
    </p>
  </div>
</section>
