<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">APEX Products</h1>
    <p class="lead">Darwinism aside, below are some projects and products I have had the great pleasure of participating in - I can proudly say that each one has profoundly impacted my personal and professional development.</p>
    <div class="portfolio-buttons">
      <%= link_to "Learn More About Me", about_path, class: "port-btn btn btn-success my-2" %>
    </div>
  </div>
</section>
