<div class="app-card-container">
  <div class="card">
    <div class="header-center-about">
      <h1>Want to work together?</h1>
    </div>

    <div class="row">
      <div class="col-md-6 header-center-about">
        <div class="header-padding-about">
          <h3>Current homebase</h3>
          <p> 165 Bungalow Terrace, Millington, NJ 07946</p>
        </div>
        <div class="header-padding-about">
          <h3>Shoot me a text</h3>
          <p> <%= number_to_phone "9083926925" %> </p>
        </div>
        <div class="header-padding-about">
          <h3>Shoot me an email</h3>
          <a href="mailto:jeffreyxmonteiro@gmail.com?subject=PortfolioContact" target="_blank"><button type="button" class="btn btn-primary">Send Email</button></a>
        </div>
      </div>
      <div class="col-md-6 header-center-about">
        <h3>Homebase Location</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.404930371832!2d-74.52025058467223!3d40.68707874707684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3bc94116cbf53%3A0x5582af13192982ae!2s165+Bungalow+Terrace%2C+Millington%2C+NJ+07946!5e0!3m2!1sen!2sus!4v1556206007105!5m2!1sen!2sus" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>


  </div>
</div>

