<main role="main" class="inner cover">
  <h1 class="cover-heading">Cover your page.</h1>
  <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>

















<!-- <h1>Welcome to <%= current_user.first_name %>'s Portfolio Page</h1>

<h3>Blog Posts</h3>
<%# @posts.each do |post| %>
  <ul>
    <li>
      <%#= post.title %>
    </li>
  </ul>
<%# end %>

<h3>Skills</h3>
<%# @skills.each do |skill| %>
  <ul>
    <li>
      <%#= skill.title %>: <%#= skill.percent_utilized %>
    </li>
  </ul>
<%# end %>

 -->

