<main role="main" class="inner cover">
  <h1 class="cover-heading">Building Products at the Top of the Food Chain.</h1>
  <p class="lead">Team up with Jeff to give your ideas some TEETH.</p>
  <p class="lead">
    <%= link_to "Jeff's Apex Products", portfolios_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>
