<h1>Welcome to <%= current_user.first_name if current_user  %>'s Portfolio Page</h1>

<h3>Blog Posts</h3>
<% @posts.each do |post| %>
  <ul>
    <li>
      <%= post.title %>
    </li>
  </ul>
<% end %>

<h3>Skills</h3>
<% @skills.each do |skill| %>
  <ul>
    <li>
      <%= skill.title %>: <%= skill.percent_utilized %>
    </li>
  </ul>
<% end %>



