@import "bootstrap";
@import "jquery-ui";
@import "gritter";

html, body {
  font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

.jumbotron {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
  background-color: transparent;

  p {
    color: white;
  }

}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
  color: white;
}

.jumbotron .container {
  max-width: 40rem;
}

.portfolio-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 30vw;
  margin: auto;
}

footer {
  padding-top: 125px;
  padding-bottom: 50px;
  background-color: transparent;
}

footer p {
  margin-bottom: 5px;
}

// Custom styles

.portfolio-form {
  padding: 100px;
}

.portfolio-container {
  padding-top: 30px;
}

.alert-success {
  padding: 20px;
  text-align: center;
  margin-bottom: 48px;
}

.portfolio-responsive {
  width: 100%;
  height: 200px;
  border: 1px solid #dadadc;
}

.card-body {
  height: 130px;
}

.card-header-portfolio {
  text-align: center;
  margin-bottom: 10px;
}

.card {
  border: 5px solid rgba(255, 255, 255, .9);
  min-width: 350px;
  background-color: rgba(255, 255, 255, .95);
}

.index-card {
  max-width: 350px;
  min-height: 200px;
}

body {
  // position: fixed;
  // // top: 50%;
  // // left: 50%;
  // min-width: 100%;
  // min-height: 100%;
  // height: auto;
  // width: auto;
  // z-index: -100;
  // -webkit-transform: translateX(-50%) translateY(-50%);
  // transform: translateX(-50%) translateY(-50%);
  background: image-url('darkness.png');
  background-size: auto;
}

#background {
    background: image-url('darkness.png');
  background-size: auto;
}

.text-lighted {
  color: white;
  a {
    color: white;
  }
  a:hover {
    opacity: .8;
  }
}

.card-capture {
   h5, p {
    text-decoration: none;
    color: black;
  }
}

.card-capture:hover {
  h5, p, img {
    opacity: .6;
  }
  text-decoration: none;
}

.show-card {
  padding: 40px;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, .6);
  border: 5px solid rgba(255, 255, 255, .6);
}

.port-btn {
  min-width: 185px;
}

.show-img-min {
    min-width: 365px;
}

.title-separation {
  padding-bottom: 20px;
}

.portfolio-content-body {
  padding-top: 20px;
}

.portfolio-show-container {
  max-width: 900px;
}
